@import '../../../styles/variables';

.input-container{
    display: flex;
    flex-direction: column;
    height: 14%;
    position: relative;
}

input{
    border-radius: 5px;
    border-style: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
   
}
.image-container{
    
    position: absolute; 
    right: 1%;
    top:40%;

}
img {  
    width: 30px;
    height: 30px;
    cursor: pointer;  
   
}
label{
    color: #{$secondary};
}

span{
    color: black;
    margin:5px;
    text-decoration: underline;
    text-decoration-color:red ;
}

.password-container{
   display: flex;
   flex-direction: row;
}

