$primary: #e1dddd;
$secondary:#858688 ;
$dark: #e02c1c;



// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 950px;

// Large tablets and desktops
$screen-xl-min: 1440px;