@import '../styles/variables';
@import '../styles/mixins';

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#{$primary} ;
    height: 70vh;
    width: 40vw;
    border-radius: 5%;   

}
.items-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;    
    width: 80%;
    height: 90%;
}

.greeting-heading{
    color: #{$secondary};
    margin: 0;
}
h1.greeting-heading{
    font-size: 3.5rem;
    color: #{$dark};
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.button{
    margin:auto;
    height: 100%;
    width: 70% ;
    border-radius: 5px;
    border-style: none;    
    background-color: #{$dark} ;
    color: #{$primary};    
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

    
}
.buttonBack{
    margin:auto;
    height: 100%;
    width: 70% ;
    border-radius: 5px;
    border: 1px solid  #{$dark};    
    background-color: #{$primary} ;
    color: #{$dark};    
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;

    
}
.button-active{
    margin:auto;
    height: 100%;
    width: 70% ;
    border-radius: 5px;    
    border:1px solid #{$dark} ;   
    background-color:white ;
    color: #{$dark};    
    font-size: 25px;
    font-weight: bold;

    
}

.new-product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#{$primary} ;
    height: 80vh;
    width: 95vw;
    border-radius: 5%;  
    h1{
      overflow: hidden;
    }
    
  @include sm {

    
    width: 70%;
    height: 90vh; 
  }
  @include md {
    
    width: 70%;
    height: 90vh; 
  }
  @include lg {
    
    width: 70%;
    height: 90vh;
  }
  @include xl {
   
    width: 70%;
    height: 90vh;
  } 

}
.produts-container{
    display: flex;
    flex-direction: column;  
    align-items: center;
    border: 1px solid #{$dark}; 
    border-radius: 10px;
    padding: 20px 20px;
    height:80vh;
    width: 70%;
    background-color: #{$primary};
   
    
}

.table-container{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    width: 100%;
    margin-top: 10px;
    overflow:auto;    
    scrollbar-width: thin;     
    scrollbar-color: #{$dark} #f1f1f1;
    
}
.product-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse; 
    padding: 20px;
    border: 1px solid #{$dark};
    background-color: white;
    
  }
  
  th, td {
    border: 1px solid #{$dark}; 
    padding: 10px; 
    text-align: left; 
   
  }
  
 
.search-container{
    width: 100%;
    display: flex;
    justify-content: left;
    
    
}
.input{
    border: 1px solid  #{$dark} ;
    height: 50px;
}
.input :target{
    border: 1px solid  #{$dark} ;
}
.page-numbers-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
   
}

.iconContainer{
    display: flex;
    justify-content: center;
}

.details-container {
    border: 5px solid #e02c1c;
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;  
    align-items: center;

  @include sm {
   
    width: 70%;
    height: 90vh; 
  }
  @include md {
   
    width: 70%;
    height: 90vh; 
  }
  @include lg {
   
    width: 70%;
    height: 90vh;
  }
  @include xl {
   
    width: 70%;
    height: 90vh;
  }
}
